  <div class="col-md-12">
    <h2 class="page-header text-center">新規会員登録</h2>
  </div>
<div class= "row">
  <div class="col-md-4 col-md-offset-4 ">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <table>
          <tr>
            <td>
              <div class= "form-group">
                  <%= f.label :"(性) " %>            
                  <%= f.text_field :family_name, class: 'form-control',autofocus: true, autocomplete: "family_name" %>
              </div>
            </td>
            <td>　</td>
            <td>
              <div class='form-group'>
                <%= f.label :"(名) " %>
                <%= f.text_field :farst_name, class: 'form-control',autofocus: true, autocomplete: "first_name" %>
              </div>
            </td>
            <td>　</td>
          </tr>
        </table>
        <div class="form-group">
          <%= f.label :"メールアドレス" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :"パスワード" %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class:'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :"パスワード確認" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password",class: 'form-control' %>
        </div>
        <div class="button_wrapper">
          <div class="actions">
            <%= f.submit "登録", {class: "devise-btn"} %>
          </div>
        </div>
      <% end %>
  </div>
</div>
