<div class= "row">
  <div class= "col-md-8 col-md-offset-2">
    <h2 class="page-header text-center border-bottom">会員一覧</h2>
    <table class= "table">
      <th></th>
      <th>会員id</th>
      <th>会員名</th>
      <th>提案数</th>
      <th><p></p></th>
      <% provide(:title, 'All users') %>

      <!--  検索拡張機能  -->
      <%= form_tag users_path, :method => 'get' do %>
        <%= text_field_tag :search,params[:search] %>
        <%= submit_tag '検索', :name => nil %>
      <% end %>

      <ul class="media-list">
          </ul>
      <% @users.each do |user| %>
          <tr>
            <td>
              <div class="icon-image">
                <%= attachment_image_tag user, :image, :fill, 100, 100, format: 'jpeg', fallback:'no-img.jpg', size:'40x40', class: "img-circle pull-left profile-thumb" %>
              </div>
            </td>
              <td> <%= user.id %> </td>
              <td> <%= link_to user.full_name,user_path(user.id) %> 
              </td>
              
              <td><%= user.projects.count %>回</td>
              <td>
                <% if user == current_user %> 
                  <%= link_to "編集", edit_user_path(user),class:"btn btn-primary" %>
                <% end %>
            </td>
          </tr>
        <% end %>
      </table>
      <%= @amount %>
      <%= paginate @users %>
  </div>
</div>