<h2 class="page-header text-center border-bottom">提案一覧</h2>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <!-- Graphs -->
    <canvas id="myChart" width="900" height="400"></canvas>
    <script>
      var ctx = document.getElementById("myChart").getContext('2d');
      var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels:  <%= @user_name.to_json.html_safe %>,
          datasets: [{
              label: "削減総時間",
              data: <%= @data %>,
              backgroundColor: 'rgba(255, 99, 132, 1.0)',
              borderColor: 'rgba(255, 50, 132, 1.0)',
              fill: false
          }]
        },
        options: {
            title:  {
              display: true,
              text: "ユーザー別改善時間/年"
            }
        }
      });
    </script>
    <table class="table table-striped table-inverse">
        <th>No.</th>
        <th>タイトル<br>職種<br>職種の時間単価</th>
        <th>改善時間・金額</th>
        <th>その他費用</th>
        <th>ステータス<br>開始予定<br>終了予定</th>
        <th>提案者</th>
        <th>いいね・コメント</th>
        <th></th>

      
      <% @projects.each do |project| %>
       
        <tr>
          <td><%= project.id %></td>
          <td><%= link_to project.name ,project_path(project) %><br>
          <%= project.job.name %><br><%= project.job.amount %>円</td>
          
          <td>
            1回:<%= project.reducation %><br>
            月:<%= project.reducation_month %><br>
            年:<%= project.reducation_year %>
          </td>
          <td>
            1回:<%= project.total_amount %>円<br>
            月:<%= project.number_of_month * project.total_amount %>円 <br>
            年:<%= (project.number_of_month * 12) * project.total_amount %>円
          </td>
          <td>
            <%= project.status %><br>
            <%= project.start_date %><br>
            <%= project.finish_date %>
          </td>
          <td><%= link_to project.full_name, user_path(project.user) %></td>
          <td>
            <small>
              <% if user_signed_in? %>
                <% if project.favorited_by?(current_user) %>
                  <%= link_to project_favorites_path(project), method: :delete do %>
                    <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
                    <%= project.favorites.count %> いいね
                  <% end %>
                <% else %>
                  <%= link_to project_favorites_path(project), method: :post do %>
                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                    <%= project.favorites.count %> いいね
                  <% end %>
                <% end %>
              <% else %>
                <i class="fa fa-heart-o" aria-hidden="true"></i>
                <%= project.favorites.count %> いいね
              <% end %>
            </small>
            <small><i class="fas fa-comment"> <%= project.comments.count %></i>件</small>
          </td>
          <td>
            <% if project.user == current_user %>
              <%= link_to "編集",edit_project_path(project), {class: "btn btn-success"} %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
    <%= paginate @projects %>
  </div>
</div>