<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="form-group">
      <%= form_with(model:[@project], local: true) do |f| %>
    </div>
    <div class="form-group">
      <%= f.label :"プロジェクト名：" %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :"内容：" %>
      <%= f.text_area :content, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :"職種：" %>
      <%= f.collection_select :job_id, Job.all, :id, :name, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :"年間削減時間：" %>
      <%= f.text_field :reducation_time, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :"作業に掛かっている金額：" %>
      <%= f.text_field :total_amount, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :"年間削減金額：" %>
      <%= f.text_field :reducation_amount, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :"作業の月平均回数：" %>
      <%= f.select :number_of_month, [*1..31], class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :"開始日：" %>
      <%= raw sprintf(
        f.date_select(:"start_date",   
        use_month_numbers: true,
        start_year:        2020,
        end_year:          (Time.now.year + 20),
        default:           Date.new(2020, 1, 1),
        date_separator:    '%s'), # 年月日区切りをそれぞれ指定
            '年 ', '月 ' , class: 'form-control') + '日'%>
    </div>
    <div class="form-group">
      <%= f.label :"終了日：" %>
      <%= raw sprintf(
      f.date_select(:"finish_date",   
      use_month_numbers: true,
      start_year:        2020,
      end_year:          (Time.now.year + 20),
      default:           Date.new(2020, 1, 1),
      date_separator:    '%s'), # 年月日区切りをそれぞれ指定
          '年 ', '月 ' , class: 'form-control') + '日' %>
    </div>
    
    <div class="form-group"> 
      <%= f.label :"ステータス：" %>
      <%= f.select :status, Project.statuses.keys.to_a %>
    </div>
    <%= f.submit '次へ', class:"btn btn-primary" %>
    <% end %>
  </div>
</div>