<div class="row">
  <div class="col-md-6 text-center">
    <div class="form-group">
      <%= form_with(model:[@project], local: true) do |f| %>
    </div>
    <div class="form-group">
      <%= f.label :"プロジェクト名：" %>
      <%= f.text_field :name %>
    </div>
    <div class="form-group">
      <%= f.label :"内容：" %>
      <%= f.text_area :content %>
    </div>
    <div class="form-group">
      <%= f.label :"開始日：" %>
      <%= raw sprintf(
        f.date_select(:"start_date",   
        use_month_numbers: true,
        start_year:        2020,
        end_year:          (Time.now.year + 20),
        default:           Date.new(2020, 1, 1),
        date_separator:    '%s'), # 年月日区切りをそれぞれ指定
            '年 ', '月 ') + '日' %>
    </div>
    <div class="form-group">
      <%= f.label :"終了日：" %>
      <%= raw sprintf(
      f.date_select(:"finish_date",   
      use_month_numbers: true,
      start_year:        2020,
      end_year:          (Time.now.year + 20),
      default:           Date.new(2020, 1, 1),
      date_separator:    '%s'), # 年月日区切りをそれぞれ指定
          '年 ', '月 ') + '日' %>
    </div>
    
    <div class="form-group"> 
      <%= f.label :"ステータス：" %>
      <%= f.select :status, Project.statuses.keys.to_a %>
    </div>
    <%= f.submit '次へ', class:"btn btn-primary" %>
    <% end %>
  </div>
</div>