<div class="row">
  <div class="col-md-offset-2 col-md-4">
    <h2>プロジェクト詳細</h2>
    <table class="table table-striped">
      <tr><td>投稿日:<%= @project.created_at.strftime('%Y/%m/%d') %></td></tr>
      <tr><td>No.<%= @project.id %> プロジェクト名:<%= @project.name %></td></tr>
      <tr><td>提案内容:<%= @project.content %></td></tr>
      <tr><td>提案者:<%= image_tag @image_url, size:'40x40', class: "img-circle pull-left profile-thumb" %>
      <%= @project.full_name %></td>
      </tr>
      <tr><td>ステータス:<%= @project.status %></td></tr>
      <tr><td>開始予定日:<%= @project.start_date %></td></tr>
      <tr><td>終了予定日:<%= @project.finish_date %></td></tr>
      <tr><td>作業の月回数：<%= @project.number_of_month %>回</td></tr>
      <tr>
        <td>１回の削減時間：<%= @project.reducation %><br>
          月の削減時間:<%= @project.reducation_month %><br>
          年間の削減時間:<%= @project.reducation_year %>
        </td>
      </tr>
      <tr>
        <td>いいね <i class="fa fa-heart" aria-hidden="true" style="color: red;">
          <%= @project.favorites.count %></i>件
          コメント<i class="fas fa-comment"> <%= @project.comments.count %></i>件
        </td>
      </tr>
    </table>
  </div>

  <div class="col-md-4">
    <h2>コメント一覧</h2>
    <div id='comments_area'>
      <%= render partial: 'comments/index', locals: { comments: @comments } %>
    </div>
      <% if user_signed_in? %>
        <%= render partial: 'comments/form', locals: { project: @project, comment: @comment } %>
      <% else %>
        <div>
          <%= link_to raw("<h2>ログイン</h2></br>ログインすると、コメント・いいねが可能です！"),new_user_registration_path, {class: "btn btn-success"} %>
        </div>
      <% end %>
    <div class="pagenate">
      <%= paginate @comments %>
    </div>
  </div>
</div>