<div class="row">
  <div class="col-md-4 col-md-offset-2">
    <h1>プロジェクト詳細</h1>
    <table class="table table-striped">
      <tr>
        <td>投稿日:<%= @project.created_at.strftime('%Y/%m/%d') %></td>
      <tr>
        <td>プロジェクトNo.<%= @project.id %></td>
      </tr>
      <tr>
        <td>プロジェクト名:<%= @project.name %></td>
        </tr>
      <tr>
        <td>提案内容:<%= @project.content %></td>
      </tr>  
      <tr>
        <td>提案者</td>
      </tr>
      
      <tr>  
        <td>
            <%= attachment_image_tag @project.user, :image, :fill, 100, 100, format: 'jpeg', fallback:image_path('no-img.jpg'), size:'40x40', class: "img-circle pull-left profile-thumb" %>
          <%= @project.user.family_name + @project.user.farst_name %>
        </td>
      </tr>
      <tr>
        <td>ステータス:<%= @project.status %></td>
      </tr>  
        <tr>
        <td>開始日:<%= @project.start_date %></td>
      </tr>
      <tr>
        <td>終了日:<%= @project.start_date %></td>
        </tr>
        <tr>
        <td>作業の月回数：<%= @project.number_of_month %>回</td>
        </tr>
        <td>１回当たりの削減時間：
           <% if @project.reducation_time >= 60 %>
              <%= @project.reducation_time / 60 %>時間 
              <%= @project.reducation_time % 60 %>分</td>
            <% else %>
              <%= @project.reducation_time %>分
          <% end %>
          年間の削減時間：
           <% if @project.reducation_time * 12 >= 60 %>
              <%= @project.reducation_time * 12 / 60 %>時間 
              <%= @project.reducation_time * 12 % 60 %>分</td>
            <% else %>
              <%= @project.reducation_time * 12 %>分
          <% end %>
        </td>
      <tr>
      <tr>
        <td>いいね <i class="fa fa-heart" aria-hidden="true" style="color: red;">
          <%= @project.favorites.count %></i>件
          コメント<i class="fas fa-comment"> <%= @project.comments.count %></i>件
        </td>
      </tr>
    </table>
  </div>
  <div class="col-md-4">
    <h2>コメント一覧</h2>
    <div id='comments_area'>
      <%= render partial: 'comments/index', locals: { comments: @comments } %>
    </div>
      <% if user_signed_in? %>
          <%= render partial: 'comments/form', locals: { project: @project, comment: @comment } %>
      <% end %>
      <%= paginate @comments %>
  </div>
</div>