<div class="row" >
  <div class="col-md-12 text-center">
    <div class= "about" id="theTarget">
      <div class="about-img1"></div>
      <div class="about-img2"></div>
      <div class="about-img3"></div>
      <div class="about-img4"></div>
    </div>
  </div>
  <div class="login">
    <h2 class="about-title">誰でも気軽に組織に改善文化を創るアプリ</h2>
    <div class="btn"><%= link_to("会員登録",new_user_registration_path) %></div><br>
    <div class="btn"><%= link_to("ゲストとして観覧",projects_path) %></div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2 class="heading">KAIZENの特徴</h2>
    <div class="explanation">
      <div class="col-md-4">
        <h2 class="structure-title">改善文化を創る</h2>
        <p class="structure-text">誰でも簡単に利用が可能であり、<br>継続的に利用することで改善文化を醸成することが可能です。</p>
        <%= image_tag('undraw_co-workers_ujs6.png') %>
      </div>
      <div class="col-md-4">
        <h2 class="text-center">簡単なフォーマット</h2>
        <p class="structure-text">簡単で共通のフォーマットで投稿が可能です。<br>
        共通の指標によって改善効果を確認します。</p>
        <%= image_tag('undraw_visual_data_b1wx.png') %>
      </div>
      <div class="col-md-4">
        <h2 class="structure-title">仕事の見える化</h2>
        <p class="structure-text">投稿を継続していくことにより具体的な作業が見える化<br>組織のワークフローの共有ができます。</p>
        <%= image_tag('undraw_Group_chat_unwm.png') %>
      </div>
    </div>
  </div>
</div>
<div class= "row">
  <div class= "col-md-12">
    <section id= "sign_up">
      <h2 class= "heading">会員登録</h2>
      <div class= "btn"><%= link_to("新規登録",new_user_registration_path) %></div><br>
      <p class= "heading-text">登録すると投稿・コメント・いいねができます！</p>
    </section>
  </div>
  <div class= "col-md-12 access">
    <%= render partial: 'google_map'%>
  </div>
</div>