<div class= "row center">
  <div class="col-md-4 col-md-offset-4">
    <h2 class="page-header text-center">ログインページ</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>    
      <div class="form-group">
        <%= f.label :"メールアドレス" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :"パスワード" %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="form-group">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
      <div class="button_wrapper">
        <div class="actions">
          <%= f.submit "ログイン", {class: "devise-btn"} %>
        </div>

      <div class="button_wrapper">
        <%= link_to 'ゲストログイン（閲覧用)', homes_guest_sign_in_path, class: "guest-btn" , method: :post %>
      </div>
      
    <% end %>
    <ul class= "horizontal_contents">
      <li><i class="fas fa-user-plus"></i><%= link_to " 新規会員登録", new_user_registration_path %></li>
      <li><i class="fas fa-info-circle"></i><%= render "devise/shared/links" %></li>
    </ul>
  </div>
</div>